.main {
  margin: 15rem 0;
  display: grid;
  max-width: 70vw;
  max-height: 100vh;
  box-sizing: border-box;
  margin-left: 15vw;
  gap: 10rem;
  color: #2d2d2d;
}
.main__examplesOfWorksBlock {
  padding: 1% 0 1%;
  display: grid;
  justify-content: center;
  text-align: center;
  max-width: 70vw;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.main__examplesOfWorksBlock__title {
  font-size: 1.5rem;
  line-height: 30.3px;
}
.main__examplesOfWorksBlock__listProducts {
  width: 90vw;
  margin-top: 3%;
  display: grid;
  grid-template-columns: repeat(3, 8.5rem);
  gap: 2rem;
  justify-content: space-evenly;
}
.main__examplesOfWorksBlock__listProducts__specificProduct {
  display: grid;
  gap: 6px;
  text-align: center;
  justify-content: center;
}
.main__examplesOfWorksBlock__listProducts__specificProduct__img {
  border-radius: 20px;
}
.main__examplesOfWorksBlock__listProducts__specificProduct__name {
  font-size: 1.3rem;
  line-height: 26.9px;
  color: #111;
}
.main__examplesOfWorksBlock__listProducts__specificProduct__language {
  font-size: 1.1rem;
  line-height: 20px;
}
.main__examplesOfWorksBlock__listProducts__specificProduct:hover .main__examplesOfWorksBlock__listProducts__specificProduct__name {
  text-decoration: underline;
}
.main__examplesOfWorksBlock__listProductsColumn {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(1, 130px);
  gap: 20px;
  justify-content: center;
}
.main__education {
  padding: 1% 0 1%;
  display: grid;
  justify-content: center;
  text-align: center;
  max-width: 70vw;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.main__education__title {
  font-size: 1.5rem;
  line-height: 30.3px;
}
.main__education__faqDetails {
  width: 70vw;
  text-align: start;
  margin-top: 3%;
  display: grid;
  gap: 12px;
}
.main__softSkills {
  padding: 1% 0 1%;
  display: grid;
  justify-content: center;
  text-align: center;
  max-width: 70vw;
  border-top: 1px solid black;
}
.main__softSkills__title {
  font-size: 1.5rem;
  line-height: 30.3px;
}
.main__softSkills__title__text__notLit {
  text-shadow: none;
}
.main__softSkills__title__text__sh {
  text-shadow: 0px 0px 50px deeppink;
  color: red;
}
.main__softSkills__title__text__zero {
  text-shadow: none;
  color: darkred;
}
.main__softSkills__listSkills {
  width: 90vw;
  margin-top: 1%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  grid-template-rows: repeat(auto-fit, 3rem);
  gap: 2rem;
  justify-content: center;
}
.main__softSkills__listSkills__explanation {
  display: grid;
  gap: 20px;
}
.main__softSkills__listSkills__explanation__title {
  font-size: 1.3rem;
  line-height: 26.9px;
}
.main__softSkills__listSkills__explanation__text {
  font-size: 1rem;
  line-height: 26.9px;
  display: grid;
  gap: 0.5rem;
}

.a:hover {
  text-decoration: underline;
}

details {
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.1));
  border-radius: 12px;
  padding: 24px;
  font-size: 1.1rem;
  line-height: 20px;
  color: #404040;
}

details > p {
  padding-top: 18px;
}

.chevron {
  height: 28px;
  width: 28px;
}

summary {
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 30.3px;
  font-weight: 700;
  color: #2d2d2d;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  padding: 1rem 0 0 2rem;
}

.anim {
  animation: flashing 3s infinite;
}

@media (max-width: 1138px) {
  .main__softSkills__listSkills {
    gap: 3rem;
    grid-template-columns: repeat(1, 20rem);
    grid-template-rows: minmax(3rem, 24rem);
  }
}
@media (max-width: 1000px) {
  .main__examplesOfWorksBlock__listProducts {
    grid-template-columns: repeat(2, 8.5rem);
  }
}
@media (max-width: 580px) {
  .main__examplesOfWorksBlock__listProducts {
    grid-template-columns: repeat(1, 8.5rem);
  }
  .main__softSkills__listSkills {
    gap: 3rem;
    grid-template-rows: minmax(3rem, 30rem);
  }
}
@keyframes flashing {
  0% {
    text-shadow: 0 0 50px deeppink, 0 0 50px deeppink, 0 0 50px deeppink;
    color: red;
  }
  34% {
    text-shadow: 0 0 50px deeppink, -17px 0 17px0 0 50px deeppink, 0 0 50px deeppink;
    color: red;
  }
  35% {
    text-shadow: none;
    color: darkred;
  }
  36% {
    text-shadow: 0 0 50px deeppink, 0 0 50px deeppink, 0 0 50px deeppink;
    color: red;
  }
  37% {
    text-shadow: none;
    color: darkred;
  }
  38% {
    text-shadow: 0 0 50px deeppink, 0 0 50px deeppink, 0 0 50px deeppink;
    color: red;
  }
  39% {
    text-shadow: none;
    color: darkred;
  }
}/*# sourceMappingURL=main.css.map */