@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Manrope:wght@400;500;600;700&family=Noto+Sans:wght@300;400;500;700&family=Roboto&display=swap');

$mainFontFamily: 'Manrope';
$mainSizeText: 400;
$linkColor: #86898f;
$backgroundColor: #f1f1f1;

* {
    font-family: $mainFontFamily;
    background: $backgroundColor;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: $linkColor;
}

@media (max-width: 1000px) {
    html {
        font-size: 13px;
    }
}

@media (max-width: 500px) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 350px) {
    html {
        font-size: 8px;
    }
}
